<div class="container">

    <div class="row">

    	<div class="col-md-3">
    		<a class="btn btn-default" href="#/admin"><i class="fa fa-arrow-left"></i> Back to comic list</a>
    	</div>

    	<div class="col-md-9">

	        <div class="alert alert-{{alertType}}" ng-show="message" ng-bind="message" role="alert"></div>

	    	<form name="editComicForm" ng-submit="editForm(editComicForm.$valid, comic)" novalidate>

	    		<button class="btn btn-primary" type="submit" ng-disabled="editComicForm.$invalid"><i class="fa fa-floppy-o"></i> Update</button>

	    		<br><br>
	    		<div class="clearfix"></div>

	    		<div class="col-md-6">

					<div class="form-group">
		                <label for="name">Name</label>
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-book"></i></span>
		                	<input type="text" id="name" name="name" ng-model="comic.name" class="form-control" required="required">
						</div>
		            </div>

					<div class="form-group">
		                <label for="name">Description</label>
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-align-left"></i></span>
						  	<textarea id="description" name="description" ng-model="comic.description" class="form-control"></textarea>
						</div>
		            </div>

					<div class="form-group">
		                <label for="name">Image</label>
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
		                	<input type="text" id="image" name="image" ng-model="comic.image" class="form-control" required="required">
						</div>
		            </div>

					<div class="form-group">
		                <label for="name">Recommended</label>
		                
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-thumbs-o-up"></i></span>
			                <select id="recommended" name="recommended" ng-model="comic.recommended" class="form-control">
			                	<option value="1">Yes</option>
			                	<option value="0">No</option>
			                </select>
						</div>
		            </div>

					<div class="form-group">
		                <label for="name">Edition</label>
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-sort-numeric-desc"></i></span>
		                	<input type="number" id="edition" name="edition" ng-model="comic.edition" class="form-control" required="required">
						</div>
		            </div>

					<div class="form-group">
						<label for="name">Quantity in stock</label>
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-500px"></i></span>
		                	<input type="text" id="loans" name="loans" ng-model="comic.loans" class="form-control" disabled="disabled">
						</div>
		            </div>

		            <div class="form-group">
						<label for="name">Views Quantity</label>
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-eye"></i></span>
		                	<input type="text" id="searchs" name="searchs" ng-model="comic.searchs" class="form-control" disabled="disabled">
						</div>
		            </div>

					<div class="form-group">
		                <label for="name">Creator</label>
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
		                	<input type="text" id="creator" name="creator" ng-model="comic.creator" class="form-control" required="required">
						</div>
		            </div>

					<div class="form-group">
		                <label for="name">Genre</label>
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-genderless"></i></span>
		                	<input type="text" id="genre" name="genre" ng-model="comic.genre" class="form-control" required="required">
						</div>
		            </div>

		            <div class="form-group">
		                <label for="name">Character</label>
		                <div class="input-group">
						  	<span class="input-group-addon"><i class="fa fa-user-secret"></i></span>
		                	<input type="text" id="character" name="character" ng-model="comic.character" class="form-control" required="required">
						</div>
		            </div>
	    		</div>

	    		<div class="col-md-6">
	    			<label>Stars average</label>
	    			<div class="panel panel-default">
					  	<div class="panel-body text-center">
	    					<span ng-show="comic.reviews.length == 0">No reviews yet! So there is not stars!</span>
	    					<span ng-hide="comic.reviews.length == 0">{{getStarsAverage(comic.reviews, false)}}</span>
					  	</div>
					</div>

	    			<label>Reviews</label>
	    			<p ng-show="comic.reviews.length == 0">No reviews yet!</p>
	    			<table class="table table-hover" ng-hide="comic.reviews.length == 0">
	    				<thead>
							<tr>
								<th class="text-center">#</th>
								<th>User</th>
								<th>Comment</th>
								<th class="text-center">Stars</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="review in comic.reviews">
								<th class="text-center">{{$index + 1}}</th>
								<th>{{review.username}}</th>
								<th>{{review.comment}}</th>
								<th class="text-center">{{review.stars}}</th>
								<th class="text-center"><a ng-click="deleteReview(review)"><i class="fa fa-trash-o"></i></a></th>
							</tr>
						</tbody>
	    			</table>
	    		</div>

	    		<div class="clearfix"></div>

	    		<button class="btn btn-primary" type="submit" ng-disabled="editComicForm.$invalid"><i class="fa fa-floppy-o"></i> Update</button>

	    	</form>
    	</div>

    </div>

</div>
